---
name: build

on:
  workflow_call:

env:
  TF_PLUGIN_CACHE_DIR: ${{ github.workspace }}/.terraform.d/plugin-cache

jobs:
  preflight:
    runs-on: ubuntu-latest
    outputs:
      python_version: ${{ steps.get_python_version.outputs.python_version }}
      terraform_version: ${{ steps.get_terraform_version.outputs.terraform_version }}
    steps:
      - uses: actions/checkout@v4

      - id: get_python_version
        name: Get Python version
        run: |
          set -euo pipefail

          python_version=$(cat ${GITHUB_WORKSPACE}/.python-version)
          echo "Python version: ${python_version}"
          echo "python_version=$python_version" >> "$GITHUB_OUTPUT"

      - id: get_terraform_version
        name: Get Terraform version
        run: |
          set -euo pipefail

          terraform_version=$(cat ${GITHUB_WORKSPACE}/.tfswitchrc)
          echo "Terraform version: ${terraform_version}"
          echo "terraform_version=$terraform_version" >> "$GITHUB_OUTPUT"

  build:
    needs: preflight
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ needs.preflight.outputs.python_version }}

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ needs.preflight.outputs.terraform_version }}
          terraform_wrapper: false

      - name: Create Terraform plugin cache dir
        run: mkdir --parents $TF_PLUGIN_CACHE_DIR

      - name: Setup pipenv
        run: python -m pip install --upgrade pipenv wheel

      - id: cache-pipenv
        uses: actions/cache@v3
        with:
          path: ~/.local/share/virtualenvs
          key: ${{ runner.os }}-pipenv-${{ hashFiles('**/Pipfile.lock') }}-dev

      - name: Install
        if: steps.cache-pipenv.outputs.cache-hit != 'true'
        run: make install_ci
        env:
          PIPENV_DEV: true

      - name: Test
        run: make test
